<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.bbs.cloud.admin.service.mapper.ServiceGiftMapper" >

    <resultMap id="base_result" type="com.bbs.cloud.admin.service.dto.ServiceGiftDTO">
        <id column="id" property="id" jdbcType="VARCHAR" />
        <result column="gift_type" property="giftType" jdbcType="VARCHAR" />
        <result column="amount" property="amount" jdbcType="INTEGER" />
        <result column="used_amount" property="usedAmount" jdbcType="INTEGER"/>
        <result column="unused_amount" property="unusedAmount" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="table">service_gift</sql>

    <sql id="base_column">id, gift_type, amount, used_amount, unused_amount</sql>

    <select id="queryGiftDTO" resultMap="base_result">
        select * from
        <include refid="table" />
        where gift_type=#{giftType}
    </select>

    <insert id="insertGiftDTO">
        insert into
        <include refid="table" />
        (<include refid="base_column" />)
        values (#{id}, #{giftType}, #{amount}, #{usedAmount}, #{unusedAmount})
    </insert>

    <update id="updateGiftDTO">
        update
        <include refid="table" />
        set amount = #{amount},
        used_amount = #{usedAmount},
        unused_amount = #{unusedAmount}
        where id=#{id}
    </update>

    <select id="queryGiftDTOList" resultMap="base_result">
        select * from
        <include refid="table" />
    </select>

    <select id="queryGiftAmount" resultType="java.lang.Integer">
        select sum(unused_amount) from
        <include refid="table" />
    </select>

    <update id="updateGiftDTOList" parameterType="java.util.List">
        <foreach collection="list" item="item" separator=";">
            update
                <include refid="table" />
            set amount = #{item.amount},
            used_amount = #{item.usedAmount},
            unused_amount = #{item.unusedAmount}
            where id=#{item.id}
        </foreach>
    </update>

</mapper>